/** @format */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
@font-face {
  font-family: myFont;
  src: url(Wigtone.otf);
}
header {
  height: 100vh;
  background: url(Images/background.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#Title {
  background: url(Images/titlebg.webp);
  background-size: cover;
  background-clip: text;
  color: transparent;
  word-spacing: 5px;
  letter-spacing: 5px;
  position: relative;
  top: -10%;
  font-size: 7.2rem;
  overflow: hidden;
  animation: fade 2s linear 2s 1 forwards;
  opacity: 0;
  transition: 0.5s;
}
@keyframes fade {
  100% {
    opacity: 1;
  }
}
#playbtn {
  position: relative;
  left: 0%;
  top: 200%;
  height: 50px;
  border-radius: 100px;
  cursor: pointer;
  animation: circle 3s linear infinite;
}
@keyframes circle {
  0% {
    transform: rotate(0deg) translate(-85px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-85px) rotate(-360deg) rotateZ(360deg);
  }
}
#frame {
  width: 500px;
  height: 300px;
  background-image: url(Images/frame1.png);
  background-position: center;
  background-size: cover;
  display: none;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: relative;
}
#frame p {
  position: relative;
  font-size: 40px;
  top: 50%;
  left: 0%;
}
.icon {
  position: relative;
  display: inline-block;
  font-size: 50px;
  cursor: pointer;
}
.icon:hover {
  transform: scale(1.2);
  color: goldenrod;
}
section {
  position: relative;
  display: flex;
  justify-content: space-around; /*This is the space between char and words*/
  align-items: center;
  height: 100vh;
}
body {
  overflow-x: hidden;
  height: fit-content;
  scroll-behavior: smooth;
  font-family: myFont;
  min-height: 100vh;
}
#About {
  height: 100vh;
  font-size: 1.7rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(Images/dragon.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#quest {
  background-color: transparent;
  width: 70vw;
  height: fit-content;
  border: 40px solid;
  border-image-source: url(Images/frame1.png);
  border-image-slice: 70;
}
#About p {
  padding: 10px;
}
#titan {
  background: url(Images/titanbg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#healer {
  background: url(Images/healerbg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#timekeeper {
  background: url(Images/timekeeperbg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#eye {
  background: url(Images/eyebg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#phoenix {
  background: url(Images/phoenixbg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero {
  position: relative;
  left: 5%;
  height: 60vh;
  width: 25vw;
  cursor: pointer;
  border: 40px solid;
  border-image-source: url(Images/frame1.png);
  border-image-slice: 70;
  border-image-repeat: round;
}

.hero img {
  height: 100%;
  width: 100%;
}
.herodesc {
  position: relative;
  display: flex;
  width: 50vw;
  min-height: 60vh;
  height: fit-content;
  border: 40px solid;
  border-image-source: url(Images/frame1.png);
  border-image-slice: 70;
  border-image-repeat: round;
  overflow: hidden;
}
.herodesc p {
  color: white;
  font-size: 2.4rem;
  background: url(Images/dragon.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
